/target
/site
Cargo.lock
out/
dist/
*.svg
.cache
uv.lock

_lib.*.so
_lib.*.pyd
__pycache__/
merges.txt
vocab.json
merges.*.txt
vocab.*.json

packages/ffbpe/wasm/
packages/ffbpe/dist/
packages/ffbpe/node_modules/
