[package]
name = "unitoken"
version = "0.1.0"
edition = "2024"

[dependencies]
fancy-regex = "0.16.2"
lazy_static = "1.5.0"
ordermap = { version = "1.0.0", features = ["serde"] }
serde_json = "1.0.145"
